 <section class="employee-section">
    <div class="title">
        <h2 class="greet">اهلا في مركز القطان للدعم الفني </h2>
        <h3 class="employee">أصالة مطرية </h3>
        <h6 class="department">Adminstration </h6>
        <a href="/add-ticket"> <h4 class="fas fa-plus-circle" >  اضافة طلب</h4></a>
    </div>

    <button id="done-button" >تم التنفيذ</button>
    <button  id="undone-button" >قيد التنفيذ</button>


        <div id="done"> <h1>SOLVED</h1></div>
          <div id="undone"><h1> NOT SOLVED</h1></div>

 </section>
{{!--             
         <!-- START  TICKET VIEW  -->
    <div class="ticket-view">
        <h3 class="view-title"> اليك  احدث الطلبات //</h3>
        {{#each resultSolved}}
        <table class="viewTable">
            <thead>
                <tr>
                <th colspan="4">
                    <p>بطاقة رقم :      <span>{{ticket_no}}</span></p>
                </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>
                        <p> الحالة : <span>{{type}}</span></p>
                        <p>الأولوية :</p>
                    </td>
                     <td colspan="3"  class="view-link">
                         <a> {{status_type}}<i class="fas fa-check"></i></a>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>الموظف (صاحب البطاقة) :</td>
                    <td>{{employee}}</td>
                </tr>
                <tr>
                    <td>الموضوع :</td>
                    <td>{{subject}}</td>
                </tr>
                  <tr>
                    <td>النوع :</td>
                    <td>{{problem_type}}</td>
                </tr>
            </tbody>
        </table>
        {{/each }}
    </div>
    <!-- END  TICKET VIEW  -->
        <div id="undone">
               <!-- START  TICKET VIEW  -->
    <div class="ticket-view">
        <h3 class="view-title"> اليك  احدث الطلبات //</h3>
        {{#each resultWaiting}}
        <table class="viewTable">
            <thead>
                <tr>
                <th colspan="4">
                    <p>بطاقة رقم :      <span>{{ticket_no}}</span></p>
                </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>
                        <p> الحالة : <span>{{type}}</span></p>
                        <p>الأولوية :</p>
                    </td>
                     <td colspan="3"  class="view-link">
                         <a> {{status_type}}<i class="fas fa-check"></i></a>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>الموظف (صاحب البطاقة) :</td>
                    <td>{{employee}}</td>
                </tr>
                <tr>
                    <td>الموضوع :</td>
                    <td>{{subject}}</td>
                </tr>
                  <tr>
                    <td>النوع :</td>
                    <td>{{problem_type}}</td>
                </tr>
            </tbody>
        </table>
        {{/each }}
    </div>
    <!-- END  TICKET VIEW  -->
        </div>
    </section> --}}
