<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    {{>head}}
</head>
        {{#if manager}}
            <body>
                {{>headerManager}}
                <main>
                    {{>sidebarManager}}
                    {{{body}}}
                </main>
                {{footer}}
            </body>
        {{else}}
         <body>
            {{>header}}
            <main>
                {{{body}}}
            </main>
            {{footer}}
        </body>
        {{/if}}

    {{#if dom}}
        <script src="/js/{{dom}}.js"></script>
    {{/if}}

   {{#if script}}
    <script src="/js/{{script}}.js"></script>
    {{/if}}

</html>